@import '../../scss/colors.scss';

.blur {
    width: calc(100% - 16px);
}
.root {
    background: rgba($color: $black, $alpha: 0.2);
}

@media (max-width: 1023px) {
    .blur {
        width: 100%;
    }
}