.Container {
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: auto;
    align-items: center;
    justify-content: center;
}

.Blur{
    position: fixed;
    // display: flex;
    left: 0;
    right: 16px;
    // align-items: center;
    // justify-content: center;
    // z-index: 5;
    background-color: lightgray;
    // width: 98.5%;
    height: 100%;
}

.Message {
    width: 13.5rem;
    height: 7.25rem;
    // height: 120vh;
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    justify-content: space-between;
    // margin: auto;
}

#modal-wrapper {
    display: flex;
    // width: 100%;
    background-color: green;
}