.b-radius {
    border-radius: 1rem;
}

.b-radius-2 {
    border-radius: 0.2rem;
}

.b-radius-4 {
    border-radius: 0.4rem;
}

.b-radius-6 {
    border-radius: 0.6rem;
}

.b-radius-8 {
    border-radius: 0.8rem;
}