.tx-primary {
    color: $primary !important;
}
.bg-primary {
    background-color: $primary !important;
}
.tx-danger {
    color: $danger !important;
}
.bg-danger {
    background-color: $danger !important;
}
.tx-grey {
    color: $grey !important;
}
.bg-grey {
    background-color: $grey !important;
}
.tx-grey-lighten-2 {
    color: $grey-lighten-2 !important;
}
.bg-grey-lighten-2 {
    background-color: $grey-lighten-2 !important;
}
.tx-black {
    color: $black !important;
}
.bg-black {
    background-color: $black !important;
}
.tx-white {
    color: $white !important;
}
.bg-white {
    background-color: $white !important;
}