.btn-hover {
    position: relative;
    z-index: 1;
    &:not(:disabled) {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: currentColor;
            opacity: 0;
            border-radius: inherit;
            z-index: -1;
        }
        &:hover::before {
            opacity: 0.1;
        }
        &:active, &.active {
            &::before {
                opacity: 0.05;
            }
        }
    }
}