@import './colors.scss', './colorstyles.scss', './bootstrap.scss', 
'./buttons.scss', './opacity.scss', './z-index.scss', 
'./animation.scss', './border-radius.scss';

body, html {
    margin: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background: $grey-lighten-2;
    color: $black;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6, b {
    font-weight: 500;
}